.main{
	flex: 1 1 auto;
}



//!Стили для секции Promo
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //
.promo {
	background: #FCF8F3;

	&__container {
		position: relative;
		@media(min-width: $md2+px){
			&::before{
				content: "";
				position: absolute;
				height: 100%;
				width: 100vw;
				top: 0;
				right: 376px;
				background-color: #f9f1e7;
			}
		}
	}

	&__body {
		position: relative;
		
		z-index: 2;
		padding: 140px 0px 0px 0px;
		
		@media(max-width: $md2+px){
			padding: 80px 0px 0px 0px;
		}
		@media(max-width: $md3+px){
			padding: 60px 0px 0px 0px;
		}
		@media(min-width: $md2+px){
			display: flex;
		}
	}

	&__content {
		flex: 0 0 calc(494 / 1240 * 100%);
		position: relative;
		align-self: flex-start;
		z-index: 5;
		background: rgba(255, 255, 255, 0.72);
		padding-right: 15px;
		padding-left: 15px;
		@include adaptiv-value('padding-top', 60, 15, 1);
		@include adaptiv-value('padding-bottom', 60, 15, 1);
		@media(min-width: $md2+px){
			@include adaptiv-value('padding', 60, 1, 1);
			// Если браузер поддерживает backdrop-filter
			@supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))){
				background: rgba(255, 255, 255, 0.72);
				backdrop-filter: blur(31px);
			}
		}
		@media(max-width: $md2+px){
			margin: 0px -15px;
		}

	}

	&__title {
		font-weight: 700;
		@include adaptiv-value('font-size', 56, 24, 1);
		line-height: 120%;
		&:not(:last-child){
			margin: 0px 0px calc(16px/56px * 1em) 0px;
		}
	}

	&__text {
		font-weight: 500;
		font-size: 20px;
		@include adaptiv-value('font-size', 20, 16, 1);
		line-height: 150%;
		color: #898989;
		&:not(:last-child){
			margin: 0px 0px calc(48px/20px * 1em) 0px;
		}
	}

	&__button {
		background-color: $orangeColor;
		@include adaptiv-value('min-height', 78, 45, 1);
		@include adaptiv-value('font-size', 20, 16, 1);
		color: #fff;
		width: 100%;
		line-height: 150%;
		@media(any-hover: hover){
			&:hover{
				background-color: #86502f;
			}
		}
	}

	&__slider-content {
		flex: 1 1 auto;
		min-width: 0;
		@media(max-width: $md2+px){
			display: flex;
			flex-direction: column-reverse;
			margin: 0 -15px;
		}
	}

	.slider-content {

		&__controls {
		}
	
		&__slider-main {
		}
	}

	.slider-controls {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		@media(min-width: $md2+px){
			padding-left: 32px;
			padding-bottom: 22px;
		}
		@media(max-width: $md2+px){
			margin: 10px 0px 20px 0px;
		}


		&__dotts {
			@media(min-width: $md2+px){
				padding-right: 20px;
			}
			@media(max-width: $md2+px){
				justify-content: center;
			}
		}
		&__arrows{
			@media(max-width: $md2+px){
				
				display: none;
				
			}
		}
	}

	.slider-main {
		@media(min-width: $md2+px){
			position: relative;
			left: -188px;
		}
		
		@media(min-width: $md2+px){
			@include adaptiv-value('min-width', 934, 290, 1);
		}

		&__body {

			overflow: visible;
			
		}
	
		&__slide {
		}
	
		&__image {
			padding-bottom: 66.7%;
		}
	
		&__content {
			min-width: 295px;
			max-height: 300px;
			max-width: 450px;
			overflow: auto;
			color: inherit;
			display: flex;
			flex-direction: column;
			background: rgba(255, 255, 255, 0.72);
			@include adaptiv-value('padding', 24, 15, 1);
			@media(min-width: $md3+px){
				position: absolute;
				min-width: 350px;
				@include adaptiv-value('right', 40, 0, 1);
				@include adaptiv-value('bottom', 40, 0, 1);
			}
			// Если браузер поддерживает backdrop-filter
			@supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))){
				background: rgba(255, 255, 255, 0.72);
				backdrop-filter: blur(31px);
			}
		}
	
		&__title {
			@include adaptiv-value('font-size', 28, 22, 1);
			line-height: 120%;
			&:not(:last-child){
				margin: 0px 0px calc(4px / 28px * 1em) 0px;
			}
		}
	
		&__text {
			font-weight: 500;
			line-height: 150%;
			color: #616161;
			&:not(:last-child){
				margin: 0px 0px calc(8px / 16px * 1em) 0px;
			}
		}
	
		&__price {
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;
			line-height: 150%;
			align-items: center;
			@include adaptiv-value('font-size', 20, 16, 1);
			&:before{
				margin: 0px 0px 0px 10px;
			}
		}
	}

	.swiper-container {
	}

	.swiper-wrapper {
	}

	.swiper-slide {
	}
	
}
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //

//!Стили для секции Преимущества
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //
.advantages {
	@include adaptiv-value('padding-top', 88, 30, 1);
	@include adaptiv-value('padding-bottom', 88, 30, 1);

	&__body {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__item {
		display: inline-grid;
		padding: 16px 0;
		grid-template: auto auto / 85px 1fr;
		@media(max-width: $md2+px){
			min-width: 280px
		}
		@media(max-width: $md3+px){
			grid-template: auto auto / auto 1fr;
		}
	}

	&__icon {
		grid-row: span 2;
		text-align: center;
		// align-self: center;
		@media(max-width: $md3+px){
			padding: 0px 15px 0px 0px;
		}
	}

	&__title {
		font-size: 18px;
		line-height: 150%;
		&:not(:last-child){
			margin-bottom: 2px;
		}
	}

	&__text {
		font-weight: 500;
		line-height: 150%;
		color: #898989;
	}
}
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //

//!Стили для секции Преимущества
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //
.products {
	@include adaptiv-value('padding-bottom', 44, 30, 1);

	&__title {
		margin: 0px 0px calc(32px/40px * 1em) 0px;
	}

	&__items {
		display: grid;
		gap: 32px;
		grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
	}

	&__footer{
		padding-top: 32px;
		text-align: center;
	}

	&__more{
		background: #FFFFFF;
		border: 1px solid #E89F71;
		color: $orangeColor;
		min-width: 245px;
		padding: 12px 15px;
		@media(any-hover: hover){
			&:hover{
				background-color: #E89F71;
				color: #fff;
			}
		}
		&._hold{
			opacity: 0.2;
			cursor: default;
		}
	}

	&__item {
	}

	.item-product {
		background: #f4f5f7;
		display: flex;
		flex-direction: column;
		position: relative;
		@media(any-hover: hover){
			&:hover{
				.item-product__actions{
					opacity: 1;
					visibility: visible;
				}
			}
		}

		&__labels {
			position: absolute;
			z-index: 2;
			display: flex;
			flex-direction: column;
			@include adaptiv-value('right', 24, 10, 1);
			@include adaptiv-value('top', 24, 10, 1);
		}
	
		&__label {
			flex: 0 0 48px;
			width: 48px;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #fff;
			font-weight: 500;
			&:not(:last-child){
				margin-bottom: 10px;
			}
			&_sale {
				background-color: $redColor;
			}
			&_new{
				background-color: $greenColor;
			}
		}
	
		&__image {
			padding: 0px 0px calc(301px/285px * 100%) 0px;
		}
	
		&__body {
			flex: 1 1 auto;
			padding: 16px 16px 30px 16px;
			display: flex;
			flex-direction: column;
		}
	
		&__content {
			flex: 1 1 auto;
		}
	
		&__title {
			@include adaptiv-value('font-size', 24, 20, 1);
			line-height: 120%;
			margin: 0px 0px calc(8px/24px * 1em) 0px;
		}
	
		&__text {
			color: #898989;
			line-height: 150%;
			@include adaptiv-value('font-size', 16, 15, 1);
			margin: 0px 0px calc(8px/16px * 1em) 0px;
		}
	
		&__prices {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			line-height: 150%;
		}
	
		&__price {
			@include adaptiv-value('font-size', 20, 16, 1);	
			&_old {
				@include adaptiv-value('font-size', 16, 14, 1);
				font-weight: 400;
				margin: 0px 0px 0px 16px;
				color: #b0b0b0;
				text-decoration: line-through;
			}
		}
	
		&__actions {
			@media(any-hover: none){
				padding: 15px 0px 0px 0px;
			}
			@media(any-hover: hover){
				opacity: 0;
				visibility: hidden;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: rgba(58, 58, 58, 0.74);
				z-index: 3;
				transition: all 0.3s ease 0s;
			}
		}

		.actions-product {

			&__body {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
			}
		
			&__button {
				flex: 1 1 100%;
				&:not(:last-child){
					margin: 0px 0px 24px 0px;
				}
				&._hold{
					opacity: 0.2;
					cursor: default;
				}
		
				&_white {
					background: #fff;
					color: $orangeColor;
					@include adaptiv-value('min-height', 48, 40, 1);
					font-size: 16px;
					line-height: 150%;
					@media(any-hover: hover){
						&:hover{
							background-color: $orangeColor;
							color: #fff;
						}
					}
				}
			}
		
			&__link {
				display: flex;
				align-items: center;
				color: inherit;
				transition: all 0.3s ease 0s;
				&:before{
					margin-right: 8px;
					font-size: 16px;
				}
				@media(any-hover: hover){
					color: #fff;
					&:hover{
						color: $orangeColor;
					}
				}
			}
		}
	}
}
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //


//!Секция Rooms
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //
.rooms {
	background: #fcf8f3;
	@include adaptiv-value('padding-top', 44, 30, 1);
	@include adaptiv-value('padding-bottom', 44, 30, 1);
	

	&__container{
		@media(min-width: $md2+px){
			display: flex;
		}
	}

	&__body {
		flex: 0 0 calc(465/1240 * 100%);
		position: relative;
		z-index: 5;
		align-self: center;
		@media(min-width: $md2+px){
			@include adaptiv-value('padding-right', 80, 30, 1);
		}
		@media(max-width: $md2+px){
			margin: 0px 0px 30px 0px;
		}
	}

	&__title {
		&:not(:last-child){
			margin: 0px 0px calc(8px/40px * 1em) 0px;
		}
		text-align: left;
	}

	&__text {
		line-height: 150%;
		font-weight: 500;
		&:not(:last-child){
			margin: 0px 0px calc(24px/16px * 1em) 0px;
		}
	}

	&__button {
		background: $orangeColor;
		color: #fff;
		min-width: 180px;
		padding: 12px 0;
		@media(any-hover: hover){
			&:hover{
				background-color: #8d6146;
			}
		}
	}

	&__slider {
		flex: 1 1 auto;
		min-width: 0;
		align-self: flex-start;
		@media(max-width: $md4+px){
			margin: 0 -15px;
		}
	}

	.slider-rooms {
		position: relative;

		&__body {
			overflow: visible;
			position: relative;
			&:before{
				content: "";
				position: absolute;
				top: 0;
				height: 100%;
				width: 100vw;
				left: 0;
				background-color: #fcf8f3;
				z-index: 2;
				transform: translate(-100%, 0px);
			}
		}
	
		&__slides {
		}
	
		&__slide {
			width: 372px;
			position: relative;
			overflow: hidden;
			@include adaptiv-value('min-height', 585, 400, 1);
			&.swiper-slide-active {
				.slider-rooms__image{
					@include adaptiv-value('height', 585, 400, 1);
					
				}
			}
			@media(max-width: $md4+px){
				width: 100%;
			}
		}
	
		&__image {
			transition: all 0.8s ease 0s;
			@include adaptiv-value('height', 585, 400, 1);
			@media(min-width: $md3+px){
				@include adaptiv-value('height', 486, 380, 1);
			}
		}
	
		&__content {
			position: absolute;
			color: inherit;
			max-width: 240px;
			@include adaptiv-value('left', 24, 15, 1);
			@include adaptiv-value('bottom', 24, 15, 1);
			@include adaptiv-value('padding', 32, 15, 1);
			background: rgba(255, 255, 255, 0.9);
			// Если браузер поддерживает backdrop-filter
			@supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))){
				background: rgba(255, 255, 255, 0.72);
				backdrop-filter: blur(31px);
			}
			&:before{
				position: absolute;
				bottom: 0;
				right: 0;
				transform: translate(100%, 0px);
				width: 48px;
				height: 48px;
				background-color: $orangeColor;
				color: #fff;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	
		&__label {
			
		}
	
		&__title {
			@include adaptiv-value('font-size', 28, 24, 1);
		}
	
		&__arrows {
			pointer-events: none;
			position: absolute;
			top: 50%;
			transform: translate(0px, -50%);
			width: calc(100% - 48px);
			left: 24px;
			z-index: 5;
			justify-content: space-between;
			@media(min-width: $md1+px){
				width: calc(100% + 48px);
				left: -24px;
			}
		}

		&__dotts {
			z-index: 2;
			@media(min-width: $md3+px){
				position: absolute;
				// bottom: 30px;
				@include adaptiv-value('bottom', 30, 10, 1);
				width: 100%;
				left: 396px;
			}
			@media(max-width: $md3+px){
				justify-content: center;
				padding: 15px 0px 0px 0px;
			}
		}

		.label-slider {
			display: grid;
			color: #616161;
			gap: 8px;
			align-items: center;
			justify-content: start;
			grid-template-columns: auto 27px auto;
			&:not(:last-child){
				margin: 0px 0px 8px 0px;
			}

			&__number {

			}
		
			&__line {
				height: 1px;
				background-color: #616161;
			}
		
			&__text {

			}
		}
	}
}
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //

//!Секция Tips
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //
.tips {
	@include adaptiv-value('padding-top', 44, 30, 1);
	@include adaptiv-value('padding-bottom', 44, 30, 1);
	background-color: #fff;

	&__title {
		margin: 0px 0px 32px/40px * 1em 0px
	}

	&__slider {
	}

	.slider-tips {
		position: relative;

		&__body {
			overflow: hidden;
			@include adaptiv-value('margin-left', -32, -15, 1);
			@include adaptiv-value('margin-right', -32, -15, 1);
			@include adaptiv-value('padding', 32, 15, 1);
		}
	
		&__slides {
		}
	
		&__slide {
			display: flex;
			flex-direction: column;
			transition: box-shadow 0.3s ease 0s;
			@media(any-hover: hover){
				&:hover{
					box-shadow: 0 0 32px rgba(97, 97, 97, 0.2);
				}
			}
		}

		&__image {
			padding: 0px 0px 251/391 * 100% 0px;
		}

		&__content {
			display: flex;
			flex-direction: column;
			padding: 15px;
			flex: 1 1 auto;
			align-items: flex-start;
		}

		&__title {
			flex: 1 1 auto;
			color: inherit;
			font-weight: 600;
			line-height: 120%;
			@include adaptiv-value('font-size', 24, 18, 1);
			transition: color 0.3s ease 0s;
			&:not(:last-child){
				margin: 0px 0px 8px/24px * 1em 0px
			}
			@media(any-hover: hover){
				&:hover{
					color: $orangeColor;
				}
			}
		}

		&__text {
			color: #898989;
			font-size: 14px;
			line-height: 150%;
		}

		&__dotts {
			@include adaptiv-value('padding-top', 8, 0, 1);
			justify-content: center;
		}

		&__arrows {
			pointer-events: none;
			position: absolute;
			top: 50%;
			transform: translate(0px, -50%);
			width: calc(100% - 48px);
			left: 24px;
			z-index: 5;
			justify-content: space-between;
			@media(min-width: $md1+px){
				width: calc(100% + 48px);
				left: -24px;
			}
			@media(max-width: $md3+px){
				display: none;
			}
		}
	}
}
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //
















//!Стили для модального окна
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //
/*.popup {
position: fixed;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.507);
top: 0;
left: 0;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.8s ease 0s;

	&:target{
		opacity: 1;
		visibility: visible;
		
		.popup__content{
			transform: perspective(600px) translate(0, 0) rotate(0deg);
			opacity: 1;
		}
	}

	&__area{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		cursor: default;
	}

	&__body {
		min-height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 30px 10px;
	}

	&__content {
		background-color: #fff;
		color: #000;
		max-width: 800px;
		padding: 30px;
		position: relative;
		transition: all 0.8s ease 0s;
		opacity: 0;
		transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
	}

	&__close {
		position: absolute;
		right: 10px;
		top: 10px;
		width: 48px;
		height: 48px;

		img{
			width: 100%;
			height: 100%;
		}
	}

	&__title {
		font-size: 40px;
		margin: 0 0 1em 0;
	}

	&__text {
		font-size: 20px;
		line-height: 25px
	}
}*/
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //

//!Стили для слайдера
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //
/*.slider {
	position: relative;
	padding: 0 50px;

	&__item {
		text-align: center;
	}

	&__item img {
		width: 270px;
	}

	//Слайдер 
	.slick-slider {}

	//Слайдер запущен 
	.slick-slider.slick-initialized {}

	//Слайдер с точками
	.slick-slider.slick-dotted {}

	//Ограничивающая оболочка
	.slick-list {
		overflow: hidden;
	}

	//Лента слайдов
	.slick-track {
		display: flex;
	}

	//Слайд
	.slick-slide {}

	//Слайд активный (показывается)
	.slick-slide.slick-active {}

	//Слайд основной
	.slick-slide.slick-current {}

	//Слайд по центру
	.slick-slide.slick-center {}

	//Клонированный слайд 
	.slick-slide.slick-cloned {}

	//Стрелка
	.slick-arrow {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 2;
		font-size: 0;
		width: 30px;
		height: 60px;
	}

	//Стрелка влево 
	.slick-arrow.slick-prev {
		left: 0;
		background: url("../img/arrow-left.svg") 0 0 / 100% no-repeat;
	}

	//Стрелка вправо
	.slick-arrow.slick-next {
		right: 0;
		background: url("../img/arrow-right.svg") 0 0 / 100% no-repeat;

	}

	//Стрелка не активная 
	.slick-arrow.slick-disabled {
		opacity: 0.2;
	}

	//Точки (булиты)
	.slick-dots {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.slick-dots li {
		margin: 0 10px;
	}

	//Активная точка 
	.slick-dots li.slick-active button {
		background-color: transparent;
		border: 1px solid #fff;
	}

	//Элемент точки 
	.slick-dots li button {
		font-size: 0;
		width: 10px;
		height: 10px;
		background-color: #fff;
		border-radius: 50%;
	}
}*/
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //

//!Стили для табов
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //
/*.tabs {

	&__items {
		display: flex;
	}

	&__item {
		flex: 0 1 33.333%;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
		color: rgb(48, 45, 49);
		font-weight: 700;
	}

	&__item span{
		position: relative;
		z-index: 2;
	}

	&__blocks {}

	&__block {
		padding: 20px;
		position: relative;
		font-size: 18px;
		line-height: 24px;
		display: none;
	}
	&__block:target{
		display: block;
	}

	&__block:before{
		content: "";
		position: absolute;
		width: 33.333%;
		top: -50px;
		height: 50px;
	}

	&__block:nth-child(1){
		background-color: rgb(223, 110, 5);
	}
	&__block:nth-child(1):before{
		background-color: rgb(223, 110, 5);
		left: 0;
	}
	&__block:nth-child(2) {
		background-color: rgb(2, 201, 228);
	}
	&__block:nth-child(2):before {
		background-color: rgb(2, 201, 228);
		left: 33.333%;
	}
	&__block:nth-child(3) {
		background-color: rgb(223, 5, 139);
	}
	&__block:nth-child(3):before {
		background-color: rgb(223, 5, 139);
		right: 0;
	}

	@media(max-width: 600px) {
		&__item span {
			display: block;
			width: 100px;
			white-space: nowrap;
			text-align: center;
			overflow: hidden;
			font-size: 14px;
			text-overflow: ellipsis;
		}
	}
}*/
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //

//!Стили для спойлера
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //
/*.spoilers {
	margin-top: 50px;

	&__item {
		margin-bottom: 20px;
		font-size: 20px;
	}

	&__title {
		margin-bottom: 10px;
		padding-left: 25px;
		letter-spacing: 2px;
		position: relative;
		cursor: pointer;
		&.active:before,
		&.active:after{
			background-color: red;
		}
		&.active:before{
			transform: rotate(-40deg);
		}
		&.active:after{
			transform: rotate(40deg);
		}
		&:before,
		&:after{
			content: "";
			position: absolute;
			width: 10px;
			height: 1px;
			background-color: #000;
			top: 50%;
			transform: translateY(-50%);
			transition: all 0.3s ease 0s;
		}
		&:before {
			left: 0;
			transform: rotate(40deg);
		}
		&:after {
			left: 8px;
			transform: rotate(-40deg);
		}
	}

	&__text {
		display: none;
	}
}*/
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //

//!Стили для таймера
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //
/*.timer {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	position: relative;

	&:before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 50%;
		height: 100%;
		z-index: 3;
		background-color: #fff;
		animation: mask_left 10s steps(1, end) forwards;
	}
	&:after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 50%;
		height: 100%;
		z-index: 3;
		background-color: #7a956b;
		animation: mask_right 10s steps(1, end) forwards;
	}

	&__line {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		animation: line 10s linear forwards;
		z-index: 2;

		&:after{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 50%;
			height: 100%;
			background-color: #7a956b;
		}
	}

	&__body {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		background-color: #333;
		text-align: center;
		overflow: hidden;
		z-index: 4;
	}

	&__counter {
		animation: counter 10s steps(9, end) forwards;

		span {
			color: #fff;
			font-size: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100px;
		}
	}

	@keyframes counter{
		0%{

		}
		100%{
			transform: translate(0px, -900px);
		}
	}

	@keyframes line {
		0% {}

		100% {
			transform: rotate(360deg);
		}
	}
	@keyframes mask_left {
		0% {
			visibility: visible;
		}
		50%,
		100% {
			visibility: hidden;
		}
	}
	@keyframes mask_right {
		0% {
			visibility: hidden;
		}

		50%,
		100% {
			visibility: visible;
		}
	}
}*/
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //



//!Стили для Слайдера Swiper
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //
/*.image-slider {
	position: relative;
	padding: 30px 0 70px 0;

	&__wrapper {
	}

	&__slide {
	}

	&__image {
		text-align: center;
		img{
			max-width: 100%; 
			max-height: 600px;
		}
	}
	// Стрелки
	.swiper-button-prev::after,
	.swiper-button-next::after{
		color: #fff;
		font-size: 80px;
	}
	//Пагинация
	.swiper-pagination{
		margin-bottom: 20px;
	}
	//Буллеты
	.swiper-pagination-bullet{
		width: 20px;
		height: 20px;
		line-height: 20px;
		font-size: 14px;
		background-color: #fff;
	}
	//Фракция
	.swiper-pagination-fraction{
		font-size: 15px;
		color: #fff;
	}
	//Прогрессбар
	.swiper-pagination-progressbar-fill{
		background-color: #7a956b;
	}
	//Скролл
	.swiper-scrollbar-drag{
		cursor: pointer;
		background-color: #7a956b;
	}
	//Мультирядность
	// height: 700px;
	// .swiper-slide{
	// 	height: calc((100% - 30px) / 2);
	// 	overflow: hidden;
	// }
	//Вертикальный слайдер
	// padding: 0px 0 0px 0;
	// height: 700px;
	//Эффект куб
	// width: 900px;

}*/
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //
